In [16]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')

In [17]:
target = df.groupby('대여일자').size().to_frame()
target.sort_values(0, ascending=False).index[0]

'2021-06-04'

In [18]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()
df.groupby('day_name').size().to_frame()

                0
day_name
Friday     108877
Monday     107568
Saturday   101299
Sunday      90918
Thursday    55977
Tuesday    103704
Wednesday  110607

In [19]:
df[['day_name', '대여소번호']].value_counts().to_frame().sort_values(['day_name', 'count'], ascending=False).reset_index().drop_duplicates('day_name')

        day_name  대여소번호  count
0      Wednesday    502    282
2402     Tuesday    502    267
4801    Thursday   2715    137
7197      Sunday    502    372
9611    Saturday    502    378
12031     Monday    502    242
14453     Friday    502    277

In [20]:
daily = df.loc[df['대여구분코드'].isin(['일일권', '일일권(비회원)'])].value_counts('연령대코드').sort_index()
total = df['연령대코드'].value_counts().sort_index()

ratio = (daily / total).sort_values(ascending=False)

print(f'max ratio age : {ratio.index[0]}')

max ratio age : ~10대

In [21]:
df[['연령대코드', '이동거리']].groupby('연령대코드').mean()

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

In [22]:
twenty = df.loc[df.연령대코드.str.contains('20대')]
mean_length = twenty[['이동거리']].mean()[0]
mean_over = twenty.loc[twenty.이동거리 >= mean_length]
round(mean_over.sort_values(['대여일자', '대여소번호'], ascending=False).head(200)['탄소량'].astype('float32').mean() * 1000) / 1000

1.613

In [23]:
import datetime

df.loc[
    (df.대여일자 == datetime.datetime(2021, 6, 7)) &
    (df.연령대코드.str.contains('~10대'))
]['이용건수'].median()

1.0

In [24]:
weekday = df.loc[
    (~df.day_name.isin(['Sunday', 'Saturday'])) &
    (df.대여시간.isin([6, 7, 8]))
]
result = weekday.groupby(['대여시간','대여소번호']).size().to_frame('이용 횟수')
result.sort_values(['대여시간', '이용 횟수'], ascending=False).groupby('대여시간').head(3)

            이용 횟수
대여시간 대여소번호
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

In [25]:
mean_distance = df['이동거리'].mean()
df.loc[df['이동거리'] >= mean_distance]['이동거리'].std()

5092.139707505305

In [30]:
df['성별'] = df['성별'].str.upper()
df.groupby('성별')['이동거리'].mean()

성별
F    3468.575025
M    3209.110871
Name: 이동거리, dtype: float64