In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [8]:
df.loc[df['행복랭킹'] == 10]['점수'].mean()

7.259

In [11]:
df.loc[df['행복랭킹'] <= 50].groupby('년도')['점수'].mean().to_frame()

           점수
년도
2018  6.64678
2019  6.67002

In [23]:
df.loc[df['년도'] == 2018][['점수', '부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

In [27]:
eighteen = df.loc[df['년도'] == 2018]
nineteen = df.loc[df['년도'] == 2019]

merge = pd.merge(eighteen, nineteen, on='나라명')
len(merge.loc[merge['행복랭킹_x'] == merge['행복랭킹_y']])

15

In [32]:
df[['년도', '점수']].sort_values('점수').groupby('년도').head(5).groupby('년도').mean()

          점수
년도
2018  3.1800
2019  3.1408

In [41]:
n_mean = nineteen['상대GDP'].mean()
nineteen.loc[nineteen['상대GDP'] >= n_mean]['점수'].mean() - nineteen.loc[nineteen['상대GDP'] <= n_mean]['점수'].mean()

1.390483957219251

In [55]:
df[['나라명', '부패에 대한인식', '년도']].sort_values('부패에 대한인식', ascending=False).groupby('년도').head(20)[['년도', '부패에 대한인식']].groupby('년도').mean()

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

In [62]:
len(pd.merge(eighteen.loc[eighteen['행복랭킹'] <= 50], nineteen.loc[nineteen['행복랭킹'] > 50], on='나라명'))

3

In [67]:
target = pd.merge(eighteen, nineteen, on='나라명')
target['점수차'] = target.apply(lambda x: x['점수_y'] - x['점수_x'], axis=1)
target[['나라명', '점수차']].sort_values('점수차', ascending=False).head(1)

         나라명   점수차
151  Burundi  0.87