In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [21]:
df.DateTime = pd.to_datetime(df.DateTime)
df['Month'] = df.DateTime.dt.month
df.groupby('Month').size()

Month
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

In [38]:
target = df.copy().loc[df.Month == 3]
target['Hour'] = target.DateTime.dt.hour
target[['Temperature', 'Hour']].groupby('Hour').mean().sort_values('Temperature').iloc[0,0]

11.506612903225806

In [40]:
target[['Temperature', 'Hour']].groupby('Hour').mean().sort_values('Temperature', ascending=False).iloc[0,0]

18.393602150537635

In [47]:
df.loc[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055052

In [50]:
df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [60]:
def check_step(t):
    if t < 10:
        return 'A'
    elif t < 20:
        return 'B'
    elif t < 30:
        return 'C'
    else:
        return 'D'

df['step'] = df['Temperature'].apply(check_step)
df['step'].value_counts()

step
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

In [69]:
df.loc[
    (df['Month'] == 6) &
    (df['DateTime'].dt.hour == 12)
]['Temperature'].var()

4.202261312849164

In [72]:
m_t = df['Temperature'].mean()
df.loc[df['Temperature'] >= m_t].sort_values('Temperature').iloc[3,2]

87.9

In [78]:
md_t = df['Temperature'].median()
df.loc[df['Temperature'] >= md_t].sort_values('Temperature').iloc[3,2]

80.3