In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [3]:
df.iloc[:,5:7].apply(lambda x: x[1] - x[0], axis=1).mean()

52.19539414750672

In [4]:
df.loc[(50 <= df['측정나이']) & (df['측정나이'] <= 59)].iloc[:,2].mean()

164.07490107405314

In [5]:
df['연령대'] = df['측정나이'].apply(lambda x: (x // 10) * 10)
df['연령대'].value_counts()

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

In [12]:
df.groupby(['연령대', '등급']).size().reset_index()

     연령대 등급     0
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [23]:
target = df.loc[
    (df['측정회원성별'] == 'M') &
    ((df['등급'] == 'A') |
    (df['등급'] == 'D'))
].groupby('등급')['체지방율 : %'].mean()

abs(target[1] - target[0])

7.932086486137521

In [26]:
target = df.loc[
    (df['측정회원성별'] == 'F') &
    ((df['등급'] == 'A') |
    (df['등급'] == 'D'))
].groupby('등급')['체중 : kg'].mean()

abs(target[1] - target[0])

5.176211590296489

In [38]:
df['bmi'] = df.apply(lambda x: x[3] / (x[2] * x[2]) * 10000, axis=1)
df.loc[df['측정회원성별'] == 'M']['bmi'].mean()

24.46134409819308

In [43]:
df.loc[df['bmi'] < df['체지방율 : %']]['체중 : kg'].mean()

61.7408806392542

In [47]:
target = df.groupby('측정회원성별')['악력D : kg'].mean()
abs(target[0] - target[1])

17.55954185047465

In [49]:
target = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
abs(target[0] - target[1])

14.243156833157627