In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [19]:
df[['price_range', 'n_cores']].groupby(['price_range', 'n_cores']).size().sort_values(ascending=False).reset_index().groupby('price_range').head(1)

   price_range  n_cores   0
0            1        4  76
2            2        4  73
4            3        5  70
6            0        2  69

In [36]:
target = df.loc[df['price_range'] == 3].corr().unstack().sort_values(ascending=False).reset_index().rename(columns={0: 'corr'})
target.loc[target['corr'] != 1].iloc[1]

level_0          pc
level_1          fc
corr       0.635166
Name: 21, dtype: object