In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

In [8]:
yes_ = df.loc[df['smoker'] == 'yes']
su1 = yes_['charges'].quantile(0.9)
no_ = df.loc[df['smoker'] == 'no']
nu1 = no_['charges'].quantile(0.9)

print(yes_.loc[yes_['charges'] >= su1]['charges'].mean() - no_.loc[no_['charges'] >= nu1]['charges'].mean())

29297.954548156144