In [2]:
import math

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

In [10]:
import math

target = df.copy().loc[df['Sex'] == 'M']
target['AgeRange'] = target['Age'].apply(lambda x: math.floor(x / 10) * 10)
target[['AgeRange', 'Na_to_K']].groupby('AgeRange').mean()

            Na_to_K
AgeRange
10        13.627000
20        18.260769
30        15.244143
40        13.897273
50        14.811273
60        14.284308
70        11.363857