In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [10]:
df.groupby('Country').sum('Goals').sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [14]:
df.groupby('Country').count()[['Player']].sort_values('Player', ascending=False).head(5)

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

In [20]:
df['yearList'] = df.Years.str.split('-')

def check_four_digit(x):
    for v in x:
        if len(str(v)) != 4:
            return False
    return True

df['check'] = df['yearList'].map(check_four_digit)
len(df.loc[df.check == False])

45

In [23]:
df2 = df.loc[df.check]
len(df2)

1250

In [31]:
df2 = df2.copy()
df2['LenCup'] = df2.apply(lambda x: len(x.yearList), axis=1)
len(df2.loc[df2.LenCup == 4])

16

In [34]:
len(df2.loc[(df2.LenCup == 2) & (df2.Country == 'Yugoslavia')])

7

In [38]:
len(df2.loc[df2.Years.str.contains('2002')])

156

In [42]:
len(df2.loc[df2.Player.str.lower().str.contains('carlos')])

13

In [48]:
df2.loc[df2.LenCup == 1].sort_values('Goals', ascending=False).head(1).Player.values[0]

'Just Fontaine'

In [55]:
df2.loc[df2.LenCup == 1].groupby('Country').count().sort_values('Player', ascending=False).head(1).index[0]

'Brazil'