In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy2.csv')
df.head()

  class  score
0     A     84
1     A     59
2     A     49
3     A     57
4     A     82

In [4]:
from scipy.stats import bartlett, fligner, levene

a = df.loc[df['class'] == 'A'].score
b = df.loc[df['class'] == 'B'].score

print(bartlett(a, b))

print(fligner(a, b, center='median')) # default
print(fligner(a, b, center='mean'))

print(levene(a, b, center='median')) # default
print(levene(a, b, center='mean'))

BartlettResult(statistic=np.float64(1.660392548141078), pvalue=np.float64(0.19755033113593976))
FlignerResult(statistic=np.float64(0.7281251154135562), pvalue=np.float64(0.39349158741002765))
FlignerResult(statistic=np.float64(0.8272211734319945), pvalue=np.float64(0.36307728836821906))
LeveneResult(statistic=np.float64(0.3145466542912649), pvalue=np.float64(0.5751662820554713))
LeveneResult(statistic=np.float64(0.5086970687685527), pvalue=np.float64(0.4760514837800255))

In [5]:
df2 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy3.csv')
df2.head()

  class  score
0     A     32
1     A     69
2     A     68
3     A     60
4     A     78

In [7]:
a = df2.loc[df2['class'] == 'A'].score
b = df2.loc[df2['class'] == 'B'].score

print(bartlett(a, b))

print(fligner(a, b))
print(fligner(a, b, center='mean'))

print(levene(a, b))
print(levene(a, b, center='mean'))

BartlettResult(statistic=np.float64(2.3704538494648717), pvalue=np.float64(0.1236510981809695))
FlignerResult(statistic=np.float64(4.960366756026232), pvalue=np.float64(0.025934706256615564))
FlignerResult(statistic=np.float64(4.94724457924667), pvalue=np.float64(0.026132286002684912))
LeveneResult(statistic=np.float64(4.307122424591436), pvalue=np.float64(0.03848734007752694))
LeveneResult(statistic=np.float64(4.342327020297874), pvalue=np.float64(0.0377066528874248))

In [14]:
# 어느 등분산검정을 사용해야 할 지 정규성 검정
from scipy.stats import shapiro
import matplotlib.pyplot as plt

print(shapiro(a))
print(shapiro(b))
# 둘다 정규성을 만족하지 않기 때문에 등분산이 아니다.

ShapiroResult(statistic=np.float64(0.9444754271085016), pvalue=np.float64(3.3292545415582034e-09))
ShapiroResult(statistic=np.float64(0.9614473879380296), pvalue=np.float64(7.40068085437959e-05))

In [15]:
df3 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy6.csv')
df3.head()

    A   B
0  44  36
1  61  92
2  76  41
3  64  45
4  65  35

In [18]:
a = df3['A']
b = df3['B']

print(shapiro(a))
print(shapiro(b))

# 둘다 정규성이 아님

print(fligner(a, b))
print(fligner(a, b, center='mean'))

print(levene(a, b))
print(levene(a, b, center='mean'))

# 등분산이 아님

ShapiroResult(statistic=np.float64(0.9648516963105735), pvalue=np.float64(0.00016996019402372203))
ShapiroResult(statistic=np.float64(0.937163224334274), pvalue=np.float64(4.4990308189064326e-07))
FlignerResult(statistic=np.float64(5.124831619122788), pvalue=np.float64(0.023585858890699054))
FlignerResult(statistic=np.float64(6.08420814282746), pvalue=np.float64(0.01363954875460099))
LeveneResult(statistic=np.float64(5.147914610463281), pvalue=np.float64(0.023868975493455683))
LeveneResult(statistic=np.float64(5.783103950473267), pvalue=np.float64(0.016687980542371833))

In [19]:
df4 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy5.csv')
df4.head()

    A     B
0  74  30.0
1  30  59.0
2  35  69.0
3  45  88.0
4  74  68.0

In [25]:
a = df4['A']
b = df4['B']

print(shapiro(a))
print(shapiro(b.dropna()))

ShapiroResult(statistic=np.float64(0.9375393672524898), pvalue=np.float64(6.175255664337991e-10))
ShapiroResult(statistic=np.float64(0.9639432320175103), pvalue=np.float64(0.0001356810116492406))

In [27]:
print(fligner(a, b.dropna()))
print(fligner(a, b.dropna(), center='mean'))

print(levene(a, b.dropna()))
print(levene(a, b.dropna(), center='mean'))

FlignerResult(statistic=np.float64(7.710320541528441), pvalue=np.float64(0.005490600130793619))
FlignerResult(statistic=np.float64(7.866701415553152), pvalue=np.float64(0.005035342411464087))
LeveneResult(statistic=np.float64(8.008595918808284), pvalue=np.float64(0.004851565077063284))
LeveneResult(statistic=np.float64(8.217541809462276), pvalue=np.float64(0.004331841625789694))